<link rel="stylesheet" href="/static/admin.css" />


<aside>
  <header>
    <div><img class="profile-picture" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_10.png"/>
      <p>Zarina Mathew</p>
    </div>
  </header>
  <nav class="side-navigation">
    <ul>
      <li class="active"><a href="/adminHome"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li><a href="/locationDetails"><i class="fa fa-ship"></i>Add location</a></li>
      <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
      <li><a href="/bookinglist"><i class="fa fa-comments"></i>Booking</a></li>
      <li><a href="/logout"><i class="fa fa-area-chart"></i>Logout</a></li>
    </ul>
  </nav>
</aside>
<main>
  <header class="main-head">
    <div class="icons"><i class="fa fa-user-md"></i><i class="fa fa-comments-o"></i><i class="fa fa-bell-o"><span class="number-alert">3</span></i></div>
    <div class="logo"><i class="fa fa-rocket"></i></div>
    <div class="search">
      <input type="text" name="search" placeholder="Type here to search..." autocomplete="off"/><i class="fa fa-search"></i>
    </div>
  </header>
  <div class="container user">
    <div class="user-card">
      <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_10.png"/></figure>
      <div class="user-info">
        <div class="name"> <span>Zarina Mathew			</span><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i></div>
        <div class="user-role">
          Admin &nbsp; &#8226;<a href="#">Cab service</a>
        </div>
        
      </div>
    </div>
    <div class="action-links">
      <ul>
        <li><a href="#" data-title="Edit profile"><i class="fa fa-pencil"></i></a></li>
        <li><a href="#" data-title="Sign out"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
  <!-- main content-->
  