
        <style>
        .navbar-nav a {
            color: white;
              font-size: 18px;
        }
        </style>

 {{>navbar}}
    

    {{!-- <center><h1  style="color:black ;">Welcome!</h1></center>
    <center><img style ="width: 900px;height: 400px;" src="https://static9.depositphotos.com/1605004/1076/i/600/depositphotos_10768924-stock-photo-taxi-sign.jpg"></center>
   
    <p style ="width: 900px;margin-left: 190px;">This is a platform where those who drive and deliver can connect with riders, eaters, and restaurants.You can use the this to request a ride. When a nearby driver accepts your request, the app displays an estimated time of arrival for the driver heading to your pickup location.</p>
        <center><button style="background-color: black;margin-bottom:10px;"> <a style="text-decoration: none;width:150px;color: #f1e6e3;height: 150px;" href="/booking">Request a ride now</a></button>
           </center>  --}}

            <div class="p-5" style="height: 100%;">
    <div class="card m-auto mt-5" style="max-width: 80%; min-height:50vh;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="https://static9.depositphotos.com/1605004/1076/i/600/depositphotos_10768924-stock-photo-taxi-sign.jpg" alt="Image" width="100%">
        </div>
        <div class="col-md-6">
          <div class="card-body p-5">
            <p class="card-text">This is a platform where those who drive and deliver can connect with riders, eaters, and restaurants.You can use the this to request a ride. When a nearby driver accepts your request, the app displays an estimated time of arrival for the driver heading to your pickup location.</p>
            {{!-- <p class="card-text"><small class="text-muted">—Henry David Thoreau</small></p> --}}
            <center><button class="ride" style="background-color: black;margin-bottom:10px;"> <a style="text-decoration: none;width:150px;color: #f1e6e3;height: 150px;" href="/booking">Request a ride now</a></button></center>
          </div>
        </div>
      </div>
    </div>
  </div>
