
    <link rel="stylesheet" href="style.css">

    <style>
        body{
            background-color: black;
        }
        .form-wrap {
            background-image: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1349,h_644/v1613521692/assets/d9/ce6c00-32b0-4b93-9f0d-6f927d93da08/original/Rider_Home_bg_desktop2x.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 92vh;
            display: flex;
        }
        .container{
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 20px;
        }

        .navbar-nav a {
            color: white;
            font-size: 18px;
        }
        .navbar-nav a:hover{
            color:yellow;
        }
        .heading{
            margin-bottom: 30px;
        }
        button{
            background-color: black;
            color: white;
            margin-left: 20px;
            height: 50px;
        }
        #submit:hover{
            background-color: white;
            color:black
        }
        .content{
            width:60vw;
            height:70vh;
            background-image: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1597153358/assets/68/c3881a-6831-42df-b4a6-840691154ddf/original/UberIM_009879-large-1-3_2.jpg');
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            font-size:50px;
        }
        .aside{
            width:40vw;
            height:80vh;
            /* background-color: rgb(219, 123, 20); */
         width: 30%;
           
            margin-left: 50px;
            margin-right: 50px;
            padding:30px 30px 0px 30px;
           background-color: #f1f1f1;
           border-radius: 15px;
           
           
        }
        h2{
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .parent{
            display: flex;
            margin-top: 60px;
            margin-left: 50px;
            margin-right: 50px;
        }
        .myInput{
            margin-top:50px ;
            margin-left: 100px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        #submit{
            background-color: black;
            color: white;
            border-radius: 30px;
            height: 40px;
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
 
</style>

   

    <div class="parent">
        <div class="content"></div>
        <div class="aside">
            <form  method="post" name="regform" >
                <h2>Register Now</h2>
                <input id="myInput"  type="text" name="full_name" class="form-control"style="margin-bottom:30px" placeholder="Full Name">
                <input id="myInput" name="email" type="email" class="form-control"style="margin-bottom:30px" placeholder="E-mail">
    <select class="form-control" name="role" style="margin-bottom:30px;color:grey">
    <option value="0">Choose...</option>
    <option value="driver">Driver</option>
    <option value="passenger">Passenger</option>
    </select>
            <input id="myInput" name="username" type="text" class="form-control"style="margin-bottom:30px" placeholder="Username">
            <input id="myInput2" type="password" name="password" class="form-control " style="margin-bottom:30px" placeholder="password">
            <input id="myInput3" type="password" name="confirm_password" class="form-control"style="margin-bottom:30px" placeholder="Confirm Password">
           <center>   <span id="err-name" style="color: red;display:block;margin-bottom: 5px;"></span>
             <input id="submit" type="submit" class="col-5" value="Submit"></center>
        </form>
        </div>
    </div>

    <script>
        function validate(e){
              e.preventDefault();
               var password =document.getElementById('myInput2').value;
               var cpassword =document.getElementById('myInput3').value;
               //alert(txt);
               var email=document.regform.email.value;  
                var atposition=email.indexOf("@");  
                var dotposition=email.lastIndexOf(".");  
            if (atposition<1  || dotposition+2>=email.length){  
                 alert("Please enter a valid e-mail address");  
                 return false;  
            }  
            var nameRegex = /^[a-zA-Z\-.]+$/;
            var validUsername = document.regform.uname.value.match(nameRegex);
            if(validUsername == null){
                alert("Your username is not valid. Only characters A-Z, a-z and '-' are  acceptable.");
                document.regform.uname.focus();
               return false
            }
               if(password.length <= 8){
       
                 document.getElementById('err-name').innerText="Password requires atleast 8 characters";
               }
               
               if(password!=cpassword){
       
       document.getElementById('err-name').innerText="Password and Confirm password doesn't match";
     }
     else{
        window.location.assign("login.html")
     }
           }
       
       
           </script>
